body {
	font-family: 'IBM Plex Sans', sans-serif;
}

.one, .two, body, .swag {
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
}

a:link, a:visited, a:hover, a:active {
	color: ;
	font-family: 'IBM Plex Sans', sans-serif;
}

.aligncenter {
	text-align: center;
}

.two {
  display: flex;
}

.three {
  flex: 33.33%;
  padding: 5px;
}