body {
	font-family: 'Cormorant', serif;
}

.one, .two, body, .swag {
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
}

a:link, a:visited, a:hover, a:active {
	color: ;
	font-family: 'IBM Plex Sans', sans-serif;
}

.aligncenter {
	text-align: left;
}

.two {
  display: flex;
}

.three {
  flex: 33.33%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.image__description {
  text-align: center;
}

.two, .three {
	position: relative;
}

h1 {
	position: relative;
	left: 0px;
}
h2 {
    position: relative;
    left: 480px;
}

.euphonium {
	position: relative;
	left: 50px;
}

.one {
	margin-right: 450px;
}


/* Delete if not needed
/* GLOBAL STYLES */
body {
  padding-top: 5em;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
